
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStoreUserLabel" data-translate="prototypeApp.storeUser.home.createOrEditLabel">Create or edit a Store User</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.storeUser.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.storeUser.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="prototypeApp.storeUser.login" for="field_login">Login</label>
            <input type="text" class="form-control" name="login" id="field_login"
                    ng-model="vm.storeUser.login"
                    required />
            <div ng-show="editForm.login.$invalid">
                <p class="help-block"
                    ng-show="editForm.login.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="prototypeApp.storeUser.firstName" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                    ng-model="vm.storeUser.firstName"
                    ng-maxlength="50" />
            <div ng-show="editForm.firstName.$invalid">
                <p class="help-block"
                    ng-show="editForm.firstName.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="prototypeApp.storeUser.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                    ng-model="vm.storeUser.lastName"
                    ng-maxlength="50" />
            <div ng-show="editForm.lastName.$invalid">
                <p class="help-block"
                    ng-show="editForm.lastName.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="prototypeApp.storeUser.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.storeUser.email"
                    required />
            <div ng-show="editForm.email.$invalid">
                <p class="help-block"
                    ng-show="editForm.email.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="prototypeApp.storeUser.activated" for="field_activated">Activated</label>
            <input type="checkbox" class="form-control" name="activated" id="field_activated"
                    ng-model="vm.storeUser.activated"
                     />
            <div ng-show="editForm.activated.$invalid">
                <p class="help-block"
                    ng-show="editForm.activated.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="prototypeApp.storeUser.password" for="field_password">Password</label>
            <input type="text" class="form-control" name="password" id="field_password"
                    ng-model="vm.storeUser.password"
                    ng-maxlength="60" />
            <div ng-show="editForm.password.$invalid">
                <p class="help-block"
                    ng-show="editForm.password.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="60">
                    This field cannot be longer than 60 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="prototypeApp.storeUser.store" for="field_store">Store</label>
            <select class="form-control" id="field_store" name="store" ng-model="vm.storeUser.storeId" ng-options="store.id as store.id for store in vm.stores"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
